<!-- User login file -->
{% extends "template.j2" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
    <form id="login-form-id" action="/login/" method="post">
        <input id="login-name" type="text" class="form-control" name="login-name" placeholder="Username" required>
        <input id="login-password" type="password" class="form-control" name="login-password" placeholder="password" required minlength="8">
    <button class="form-control btn btn-primary" id="login-button" name="login-button" value="login-button"> Log in </button>
    </form>
</div>
<div class="signup-button">
    <a href="{{ url_for('create') }}">
    <button class="form-control btn btn-primary" id="signup-button" name="signup-button"> Sign up</button>
    </a>
</div>
{% endblock %}
