<!-- Account editing page -->
{% extends "template.j2" %}

{% block title %}
Edit Account
{% endblock %}

{% block scripts %}
function goBack() {
    window.history.back();
}
{% endblock %}

{% block content %}

<div class="container text-fields">
    <form id="create-form-id" action="/create/" method="post">
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-6">
                <input id="create-password" type="password" class="form-control" name="create-password" placeholder="password" required minlength="8">
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-6">
                <input id="create-confirm-password" type="password" class="form-control" name="create-confirm-password" placeholder="confirm password" required minlength="8">
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-6">
                <button class="form-control btn btn-primary" id="submit-button" onclick="return true"> Confirm </button>
                <!-- Add <submit> and <option> tags for profile image picker -->
            </div>
        </div>
    </form>
</div>

{% endblock %}