<!-- Account Creation page -->
{% extends "template.j2" %}

{% block title %}
Create Account
{% endblock %}

{% block scripts %}
<script></script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}

{% block content %}
<div class="back-button">
    <button id="create-back-button" onclick="goBack()"> Back </button>
</div>

<div class="container text-fields">
    <form id="create-form-id" action="/create/" method="post">
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-6">
                <input id="create-name" type="text" class="form-control" name="create-name" placeholder="Username" required>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-6">
                <input id="create-password" type="password" class="form-control" name="create-password" placeholder="password" required minlength="8">
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-6">
                <input id="create-confirm-password" type="password" class="form-control" name="create-confirm-password" placeholder="confirm password" required minlength="8">
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-6">
                <button class="form-control btn btn-primary" id="submit-button" onclick="return true"> Create Account </button>
                <!-- Add <submit> and <option> tags for profile image picker -->
            </div>
        </div>
    </form>
</div>

<div class="container profile-picture-picker">

    <div class="row mt-5">
        <div class="col-md-4 mx-auto bg-secondary text-center">
            <h5> Select Profile Picture </h5>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-1 bg-secondary pt-2 pb-3">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary py-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary py-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary py-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
    </div>
</div>

{% endblock %}