<!-- Account editing page -->
{% extends "template.j2" %}

{% block title %}
Edit Account
{% endblock %}

{% block scripts %}
<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/styles/account_style.css">
{% endblock %}

{% block content %}
<div class="row" id="menu-bar">
	<div class="col-md-6">
		<div class="back-button">
			<button id="edit-back-button" onclick="goBack()"> Back </button>
		</div>
	</div>
</div>

<div class="container profile-info">
    <div class="row justify-content-center">
        <div class="profilepic d-flex mt-5 pt-5">
            <img src="/static/profile.png" alt="Profile Picture" width="200" height="200">
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <h2> {{username}} </h2>
    </div>
    <div class="row justify-content-center">
        <h4> Score: {{score}} </h4>
    </div>
</div>

<div class="container text-fields">
    <form id="create-form-id" action="/edit/" method="post">
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-4">
                <label for="name">Change Username: </label><br>
                <input id="name" type="text" class="form-control" name="name" value="{{ username }}" required>
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-4">
                <label for="password">Change Password: </label><br>
                <input id="password" type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-2">
                <button class="form-control btn btn-primary" id="save-button" onclick="return true"> Change </button>
                <!-- Add <submit> and <option> tags for profile image picker -->
            </div>
        </div>
    </form>
</div>

<div class="container profile-picture-picker">

    <div class="row mt-5">
        <div class="col-md-4 mx-auto bg-secondary text-center">
            <h5> Select Profile Picture </h5>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary pt-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-1 bg-secondary pt-2 pb-3">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary py-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary py-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
        <div class="col-md-1 bg-secondary py-2">
            <img src="/static/profile.png" alt="Profile Picture Option" width="50" height="50">
        </div>
    </div>
</div>
{% endblock %}