#menu-bar{
	margin-left: .01em;
	padding-bottom: 1em;
	padding-top: 1em;
	background-color: #52575d;
	color: #52475d;
	width: 100%;
	margin-bottom: 1em;
}

#save-form-id {
	margin-bottom: 60%;
}

#edit-back-button {
	border: none;
	background-color: #52475d;
	color: lightgrey;
}

#edit-back-button:hover {
	color: white;
}

#edit-name, #edit-password, #edit-confirm-password {
	margin-bottom: 1em;
}