nav {
	color: #41444b;
	background-color: #41444b;
}

main {
	padding-bottom: 1em;
	background-color: #dfd8c8;
}

footer {
	background-color: #cabfab;
	color: #cabfab;
}

#flash-messages {
	position: fixed;
	top: 5%;
}