
#board {
	padding-top: 10em;
	display: block;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 15%;
}

.white-space {
	background-color: #FFCE9E;
	height: 4em;
	width: 4em;
}

.black-space {
	background-color: #D18B47;
	height: 4em;
	width: 4em;
}

.piece {
	height: 4em;
	width: 4em;
}

.row {
	margin-left: .01em;
	padding-bottom: 1em;
	padding-top: 1em;
	background-color: #52575d;
	color: #52475d;
	width: 100%;
}

#game-back-button {
	border: none;
	background-color: #52575d;
	color: lightgrey;
}

#game-back-button:hover {
	color: white;
}

#game-save-button {
	float: right;
	border: none;
	background-color: #52575d;
	color: lightgrey;
}

#game-save-button:hover {
	color: white;
}

.menu {
	position: fixed;
	top: 5%;
	background-color: #52575d;
	margin-left: .01em;
	padding-bottom: 1em;
	padding-top: 1em;
	width: 100%;
}